{% extends 'cad_clientes/base_cliente.html' %}
{% block conteudo %}
<h1 style="text-align: center">DETALHE DO CLIENTE</h1>
<!--
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Ação</a>
      <a class="dropdown-item" href="#">Outra ação</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Algo mais aqui</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Desativado</a>
  </li>
</ul>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
</form>
</div>
</nav>
-->
<div class="container">
  <button class="btn btn-info" style="margin-bottom: 10px">
    <a style="color: white; text-decoration: none" href="{% url 'cliente' %}"
      >Lista de Clientes</a
    >
  </button>
  <button class="btn btn-info" style="margin-bottom: 10px">
    <a style="color: white; text-decoration: none" href="{% url 'pet' %}"
      >Lista de Pets</a
    >
  </button>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>Cliente</th>
      <th>Endereço</th>
      <th>Contato</th>
      <th>Pet</th>
      <th>Foto</th>    
    </tr>
    <tr>
      <td>{{dados_c.id}}</td>
      <td>{{dados_c.nome_cliente}}</td>
      <td>{{dados_c.endereco}}</td>
      <td>{{dados_c.contato}}</td>
      <td>{{dados_p.nome_pet}}</td>
      <td>{{dados_p.foto}}</td>
    </tr>
  </table>
</div>
{% endblock %}
