{% extends 'cad_clientes/base_cliente.html' %} {% block conteudo %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <!--Aqui iremos chamar o item do banco chamando pelo nome, sendo opcional chamar por outro item correspondente-->
    <h1 style="text-align: center">
      Confirmar exclusão do Cliente, {{item.nome_cliente}} ?
    </h1>
    <button class="btn btn-info" style="margin-bottom: 10px">
      <a style="color: white; text-decoration: none" href="{% url 'cliente' %}"
        >Cancelar</a
      >
    </button>
    <button class="btn btn-danger" type="submit" style="margin-bottom: 10px">
      Confirmar
    </button>
  </form>
</div>
{% endblock %}
