{% extends 'cadastros/base.html'%} 
{% block conteudo %}
{% load crispy_forms_tags %}
     <div class="container">
     <h1>Formulário Novo Cliente</h1>
     <form action="" method="POST">
     {% csrf_token %} 
     {{form_cliente|crispy}}
     <button type="submit"  style='margin-bottom:10px;' class="btn btn-success" >Salvar</button>
     <button  class='btn btn-info' style='margin-bottom:10px;'><a  style='color: white; text-decoration: none' href="{% url 'clientes' %}">Retornar a Lista de Cliente</a></button>
     </form>
     </div>
{%  endblock %}